* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Header Section */
header {
  margin: 2rem 1rem 3rem;
  border-bottom: 1px solid black;
}

header h1 {
  font-size: 3rem;
}

/* Main Section */
main {
  display: flex;
  justify-content: space-around;
}

/* recent-scores-wrapper Section */
.recent-scores-wrapper {
  margin-left: 4rem;
}

.recent-score-box {
  margin-bottom: 2rem;
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.recent-score-box h3 {
  font-size: 2rem;
  border-bottom: 1px solid black;
}

.recent-score-box button {
  width: 100px;
  font-size: 1rem;
  font-weight: bolder;
  border: none;
  border-radius: 0.5rem;
  background-color: #198754;
  color: #fff;
  outline: none;
  transition: all 0.2s;
}

.recent-score-box button:active {
  scale: 0.98;
}

.recent-score-box button:hover {
  background-color: #184e35;
  cursor: pointer;
}

/* Leadboard Table section */
.scores-table .nav {
  list-style-type: none;
  border: 2px solid black;
  padding-left: 0.5rem;
  max-height: 350px;
  overflow-y: auto;
}

.scores-table .nav :nth-child(even) {
  background-color: #dcdcdc;
}

.nav li.nav-item {
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Add New Player with Score Section */
.add-your-score-wrapper h3 {
  font-size: 2rem;
}

.add-your-score-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-your-score-wrapper form input[type="text"],
.add-your-score-wrapper form input[type="number"],
.add-your-score-wrapper form input[type="submit"] {
  margin-top: 1rem;
  padding: 0.6rem;
  font-size: 1.2rem;
  border: 2px solid black;
  cursor: pointer;
}

.add-your-score-wrapper form input[type="submit"] {
  border: none;
  outline: none;
  border-radius: 0.5rem;
  background-color: #198754;
  color: #fff;
  transition: all 0.2s;
}

.add-your-score-wrapper form input[type="submit"]:hover {
  background-color: #184e35;
}

.add-your-score-wrapper form input[type="submit"]:active {
  scale: 0.98;
}

/* Success/Falier Message */
#show-message {
  display: none;
  font-size: 1.1rem;
  color: #198754;
  text-decoration: underline;
}
